:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #fff;

  background-color: #121214;
}

.container {
  display: grid;
  place-content: center;
  height: 80vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.timer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 9rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.controls {
  display: flex;
  gap: 3.2rem;
  padding: 2rem 4rem;
  border-radius: 80rem;
  background-color: rgba(66, 211, 255, 0.13);
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.lightbulb,
.play,
.pause,
.stopwatch,
.stop,
.volume,
.mute {
  width: 6.4rem;
  height: 6.4rem;
}

.lightbulb {
  margin-top: 3.2rem;
  background: url("../img/lightbulb.svg") no-repeat center;
}

.play {
  background: url("../img/play.svg");
}

.pause {
  background: url("../img/pause.svg");
}

.stopwatch {
  background: url("../img/stopwatch.svg");
}

.stop {
  background: url("../img/stop.svg");
}

.dark,
.volume-control {
  text-align: right;
  margin-right: 4rem;
}

.volume {
  background: url("../img/volume.svg");
}

.mute {
  background: url("../img/mute.svg");
}
